* {
    
    box-sizing: border-box;
    padding: o;
    margin: 0;
}

body{
    display: flex;
    height: 100%vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

#board{
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    width: 400px;
    border: 1px grey solid;
}

.color-selector {
    display: grid;
    place-items: center;
}


