*{    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100%vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(195,195,195);
}

.game-data{
    display: grid;
    place-items: center;
}

.scoreboard{
    display: flex;
    margin: 10em 0em 1em 0em;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
}
.tile{
    width: 50px;
    height: 50px;
    border: 1px solid white;
    color: white;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    /* comment box-shadow out when done */
    cursor: pointer;
}

.game-board{ 
    display: grid;
    grid-template-columns: repeat(8,auto);
    grid-template-rows: repeat(7, auto);
    /* grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;  */
    /* grid-template-rows: 50px 50px 50px 50px 50px 50px 50px; */
    justify-content: center;
    margin-bottom: 10px;
}




#red{
    color: red;
    background-color: red;
}
#green{
    color: green;
    background-color: green;
}
#yellow{
    color: yellow;
    background-color: yellow;
}
#blue{
    color: blue;
    background-color: blue;
}
#purple{
    color: purple;
    background-color: purple;
}
#black{
    color: black;
    background-color: black;
}
.color{
    padding: 10px 10px;
}

#tile-color{
    cursor: pointer;
}