*{    
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    height: 100%vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(195,195,195);
}

.game-data{
    display: grid;
    place-items: center;
}

.scoreboard{
    display: flex;
    margin: 10em 0em 1em 0em;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid black;
}

.game-board{ 
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px; 
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px;
    justify-content: center;
    margin-bottom: 10px;
}

.tile{
    border: 1px solid black;
}

.color{
    padding: 10px 10px;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;
}